body,
html {
	font-family     : "Helvetica 65 Medium", sans-serif;
	margin          : 0;
	font-size       : 15px;
	color           : white;
	background-color: cadetblue;
	text-align      : center;
}

header {
	display: block;
	width  : 100%;
}

footer {
	text-align      : center;
	background-color: #434346;
	padding-bottom  : 0px;
	margin-bottom   : 0px;
}

footer p {
	text-align: center;
}


h1 {
	font-family: "Helvetica 65 Medium", sans-serif;
	font-size  : 30px;
	text-align : left;
	margin-left: 40px;
	color      : rgb(28, 28, 95);
}

h2 {
	font-family: "Helvetica 65 Medium", sans-serif;
	font-size  : 20px;
	text-align : left;
	margin-left: 40px;
	color      :  rgb(40, 41, 66);
}

p {
	font-family  : "Helvetica 65 Medium", sans-serif;
	font-size    : 15px;
	text-align   : left;
	margin-left  : 40px;
	margin-right  : 40px;
	margin-bottom: 0px;
	margin-top   : 0px;
	color        : #fdfdff;

}

ul {
	display: flex;
	justify-content: right;
	list-style-type : none;
	margin          : 0px;
	padding         : 0px;
	overflow        : hidden;
	background-color: #434346;
	width           : 100%;
}


li {
	float: right;
}

li a {
	display        : block;
	color          : white;
	font-family    : "Helvetica 65 Medium", sans-serif;
	font-weight    : 500;
	font-size      : 13px;
	text-decoration: none;
	padding        : 15px 15px;
	color          : #FFFFFF;
	cursor         : pointer;
	text-align     : center;
}

li a:hover {
	background-color: #222;
}






.welcome {
	font-family        : "Helvetica 65 Medium", sans-serif;
	font-size          : 50px;
	font-weight        : 700;
	color              : rgb(199, 98, 4);
	background-image   : url('slike/Naslovna.jpg');
	background-position: center;
	background-repeat  : no-repeat;
	background-size    : cover;
	height             : 622px;
	position           : relative;
	clear              : both;
	width              : 100%;
	display            : inline-block;
}
.welcome h1 {
	font-family        : "Helvetica 65 Medium", sans-serif;
	font-size          : 60px;
	font-weight        : 700;
	color              : rgb(199, 98, 4);
	position: relative;
	margin-top:530px;
	text-shadow: 2px 2px 5px rgb(196, 58, 4);
}

#loviste figure {
	padding: 0.5em;
	float  : left;
	width  : 20%;
	border : 2px solid black;
}

#loviste figcaption {
	font-size: 90%;
}

img {
	width : 100%;
	height: auto;
}





.naslovi {
	background-color: #0d59a0;
	margin          : 100px, 0px, 100px, 0px;
	font-family     : "Helvetica 65 Medium", sans-serif;
	font-size       : 50px;
	font-weight     : 700;
	text-align      : center;
	color           : white;
	padding         : 200px;
}

.news {
	padding: 20px;
	display: grid; 
    grid-template-columns: 0.5fr 1.5fr; 
    grid-gap: 20px; 
}

.grid-child-element { 
	margin: 10px;
}


	@media screen and (max-width: 900px) {
		
	}

	
	figure {
		width : 90%;
		margin: 2em;
	}

	.news img {
		width  : 100%;
		padding: 0.5em;
		margin : 0 1em 0.5em 0.5em;
	}

	.news time {
		margin: 0 0 0 1em;
		color: #292947;
	}

	p time{		
		margin: 0 0 0 1em;
		color: #292947;
	}
